<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE module PUBLIC "-//OpenMRS//DTD OpenMRS Config 1.2//EN" "http://resources.openmrs.org/doctype/config-1.2.dtd">
<module configVersion="1.0">
	
	<!-- Base Module Properties -->
	<id>patientalerts</id>
	<name>Patient Alerts</name>
	<version>1.0.5</version>
	<package>org.openmrs.module.@MODULE_ID@</package>
	<author>DMOH</author>
	<description>
			Patient Alerts Module. Useful for alerting the clinician there is an immediate attention for a specific patient...
	</description>

	<activator>@MODULE_PACKAGE@.AlertModuleActivator</activator>
	
	<require_version>1.6</require_version>
	
	<!-- Extensions -->
	<extension>
		<point>org.openmrs.tracmodule.list</point>
		<class>@MODULE_PACKAGE@.extension.html.AdminList</class>
	</extension>
	
	<extension>
		<point>org.openmrs.patientDashboardTab</point>
		<class>@MODULE_PACKAGE@.extension.html.PatientDashboardForAlerts</class>
	</extension>
	
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>@MODULE_PACKAGE@.extension.html.GutterLinkForAlerts</class>
	</extension>
	
	<privilege>
		<name>View Patient Alerts</name>
		<description>Able to view patient Alerts</description>
	</privilege>

	<globalProperty>
		<property>patientalerts.minUsageInterval</property>
		<defaultValue>1800</defaultValue>
		<description>The minimum time between page accesses to constitute a unique usage event (seconds)</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientalerts.ignoreSystemDevelopers</property>
		<defaultValue>false</defaultValue>
		<description>If usage of users with the System Developer role should be ignored</description>
	</globalProperty>
	
	<globalProperty>
		<property>patientalerts.locationAttributeTypeId</property>
		<defaultValue>7</defaultValue>
		<description>Person attribute to be used for user location</description>
	</globalProperty>
	
	<!-- Servlets -->
	<!-- Accessed through the url /pageContext()/moduleServlet/ --> 
	<servlet>
		<servlet-name>alertcounter</servlet-name>
		<servlet-class>@MODULE_PACKAGE@.web.controller.AlertCounterServlet</servlet-class>
	</servlet>
	<!-- /Servlets -->
	
	
	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<!-- /Internationalization -->
	
</module>
